* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, sans-serif;
  color: #888888;
}

/* Header title Style */

.index-header__polygon-container {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 65%);
  background: #707070;
  height: 400px;
}

.index-header__header--items-container {
  position: absolute;
  top: 0;
  width: 100%;
}

.index-header__titles {
  color: #fff;
  text-align: center;
}
.index-header__first-description {
  font-size: 20px;
  font-weight: normal;
  padding-top: 69px;
}
.index-header__second-description {
  font-size: 40px;
  font-weight: bold;
  margin-top: 8px;
}
.index-header__third-description {
  font-size: 16px;
  font-weight: normal;
  margin-top: 20px;
}

.index-buttons__container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.index-buttons__container > button {
  background-color: #fff;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
  width: 160px;
  height: 40px;
  color: #888888;
  margin-left: 30px;
  cursor: pointer;
}

/* main styles */

.index-main__form-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.index-main__text-container {
  width: 520px;
  margin-right: 80px;
}

.index-main__text-container h2 {
  font-weight: normal;
}

.index-main__text-container p {
  font-size: 12px;
  margin-top: 30px;
}

/* main form styles */

.index-main__form {
  display: flex;
  flex-direction: column;
  width: 340px;
}

.index-main__form-module {
  display: flex;
  flex-direction: column;
}
.index-main__form-module label {
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.index-main__form-module input {
  height: 30px;
  border: 1px solid #707070;
}

.genders {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  margin-top: 12px;
}

.genders div:nth-child(2) {
  margin-left: 30px;
}

.index-main__form-button {
  border: 1px solid #707070;
  border-radius: 4px;
  height: 39px;
  background-color: #fff;
  color: #888888;
  font-size: 16px;
  cursor: pointer;
}

/* main list of products styles */

.index-main__products-list--container {
  max-width: 1000px;
  margin: auto;
}

.index-main__hr {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: #888888;
  text-align: center;
  height: 1.5em;
  margin-top: 30px;
}
.index-main__hr:before {
  content: "";
  background: #707070;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.index-main__hr::after {
  content: "Sua Lista Especial";
  font-weight: bold;
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
  color: #888888;

  padding: 0 0.5em;
  line-height: 1.5em;
  background-color: #fff;
}

.index-main__products-list {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  gap: 50px;
}

.index-main__card {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin-top: 50px;
}

.index-main__image {
  width: 200px;
  height: 150px;
  border: 1px solid #707070;
}

.index-main__product-info {
  display: flex;
  flex-direction: column;
}

.index-main__product-name {
  font-size: 14px;
  font-weight: normal;
  margin: 10px 0 5px 0;
}

.index-main__product-description {
  width: 200px;
  font-size: 12px;
  margin-bottom: 5px;
}

.index-main__product--last-price,
.index-main__product-installment {
  font-size: 12px;
  margin-bottom: 5px;
}

.index-main__product--current-price {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.index-main__product-button {
  border: 1px solid #707070;
  border-radius: 4px;
  background-color: #fff;
  height: 30px;
  color: #888888;
  font-size: 18px;
  cursor: pointer;
}

.index-main__more-products--button--container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.--button {
  border: 1px solid #707070;
  border-radius: 4px;
  background-color: #fff;
  height: 39px;
  color: #888888;
  font-size: 18px;
  width: 260px;
  margin-top: 50px;
  cursor: pointer;
  margin-bottom: 120px;
}

/* footer styles */

.index-footer__container {
  max-width: 1000px;
  margin: auto;
}

.index-footer__hr {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: #707070;
  text-align: center;
  height: 1.5em;
  margin-top: 30px;
}

.index-footer__hr:before {
  content: "";
  background-color: #707070;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.index-footer__hr::after {
  content: "Compartilhe a novidade";
  font-weight: bold;
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #888888;
  background-color: #fff;
}

.index-footer__description {
  font-size: 14px;
  text-align: center;
  margin-top: 50px;
}

.index-footer__form--input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.index-footer__form-module {
  display: flex;
  flex-direction: column;
}

.index-footer__form-module label {
  font-size: 12px;
}

.index-footer__form-module input {
  width: 340px;
  height: 30px;
  border: 1px solid #707070;
}

.index-footer__form-module:nth-child(2) {
  margin-left: 30px;
}

.index-footer__form-button--container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.index-footer__descriptions {
  height: 293px;
  text-align: center;
  background-color: #707070;
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
}

.index-footer__descriptions--container {
  margin-top: 60px;
  color: #fff;
  padding-top: 150px;
  font-size: 12px;
}

/* First end-point */

@media only screen and (max-width: 1016px) {
  .index-main__products-list {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    gap: 50px;
  }
}

/* Second end-point */

@media only screen and (max-width: 804px) {
  /* Header queries */
  .index-buttons__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
  }

  .index-buttons__container > button {
    background-color: #fff;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    width: 160px;
    height: 40px;
    margin-left: 0;
    color: #888888;
    cursor: pointer;
  }
}

/* Third end-point */

@media only screen and (max-width: 724px) {
  /* Header queries */
  .index-header__titles {
    max-width: 358px;
    margin: auto;
    text-align: left;
    padding: 10px;
  }
  .index-header__second-description {
    font-size: 36px;
  }

  /* Main queries */
  .index-main__form-section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .index-main__text-container {
    margin-right: 0;
    max-width: 386px;
    padding: 10px;
  }
  .index-main__products-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .index-main__card {
    display: flex;
    flex-direction: row;
    max-width: 200px;
    margin-top: 50px;
    margin-left: -180px;
  }
  .index-main__image {
    width: 250px;
    height: 160px;
    border: 1px solid #707070;
  }

  .index-main__product-info {
    margin-left: 20px;
  }

  .index-main__product-name {
    font-size: 14px;
    font-weight: normal;
    margin: 0px 0 5px 0;
  }

  /* Footer queries */

  .index-footer__form--input-container {
    flex-direction: column;
    align-items: center;
  }

  .index-footer__form-module:nth-child(2) {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 360px) {
  .index-main__text-container {
    max-width: 350px;
  }

  /* Main queries */
  .index-main__products-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .index-main__card {
    display: flex;
    flex-direction: row;
    max-width: 200px;
    margin-top: 50px;
    margin-left: -150px;
  }
  .index-main__product-info {
    margin-left: 5px;
  }

  .index-main__image {
    width: 169px;
    height: 129px;
    border: 1px solid #707070;
  }
  .index-main__product-name {
    width: 200px;
    margin-bottom: 23px;
  }
  .index-main__product-description {
    display: none;
  }
}
